PORT=5000

DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

CORS_ORIGIN=http://localhost:3000

INTERNAL_SECRET_DISABLED=true
INTERNAL_SECRET=your_internal_secret

AUTH_DISABLED=true
AUTH_SECRET=your-secret-here-generate-with-openssl-rand-base64-32